body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --main-color: #1abc9c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainColor{
  background-color: #2C3E50;
}

.navbar-expand-lg .navbar-nav .nav-link:focus{
  background-color: #1abc9c !important;
  border-radius: 5px;
}

nav{
  z-index: 9999999 !important;
}
.home{
  background-color: var(--main-color);
}
.titleLine{
  background-color: #fff;
  height: 5px;
  width: 90px;
}
.titleLine:not(.text-white){
  background-color: #2C3E50;
  height: 5px;
  width: 90px;
}

.btn,
.btn:hover{
  background-color: var(--main-color);
}
.btn:focus{
  background-color: var(--main-color) !important;
}
.form-control:focus {
  box-shadow: none;
}
label {
  /* z-index: 1; */
  color: var(--main-color);
  margin-bottom: 10px;
  margin-left: 12px;
  top: -40px;
  transition: 0.5s;
  opacity: 0;
}
input:not(:placeholder-shown) + label {
  opacity: 1;
  top: -80px;
}

.info-head {
  color: #fff;
  text-align: center;
  padding: 40px;
  margin: 0;
}

.info-links a i {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
}
.info-links a i:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}

.img-layer {
  background-color: var(--main-color);
  opacity: 0;
  cursor: pointer;
  transition: 0.6s opacity;
}
.inner:hover .img-layer {
  opacity: 1;
}

.footer{
  background-color: #1f2934;
}
.modal-image{
  width: 50%;
  margin-top: 5%;
}

